/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------- */

:root {
    --dark-g-magenta: hsl(303, 10%, 53%);
    --light-g-magenta: hsl(300, 24%, 96%);
    --soft-pink: hsl(333, 80%, 67%);
    --very-dark-magenta: hsl(300, 43%, 22%);
    --white: hsl(0, 0%, 100%);
}

article {
    background-color: var(--very-dark-magenta);
    border-radius: .5rem;
    width: 100%;
    max-width: 35rem;
}

article p {
    color: var(--light-g-magenta);
}

aside {
    display: flex;
    flex-direction: column;
}

aside > div {
    background-color: var(--light-g-magenta);
    border-radius: .5rem;
    font-weight: 500;
    padding: 1rem;
}

body {
    background-color: var(--white);
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: right 67vw top, left 51vw bottom -10vh;
    background-repeat: no-repeat no-repeat;

    color: var(--very-dark-magenta);
    font-family: 'League Spartan', sans-serif;
    font-size: 93.75%;
}

.container-left {
    text-align: left;
}

.container-left h2 {
    font-size: 3.5rem;
    font-weight: 700;
    max-width: 30rem;
}

.container-left p {
    color: var(--dark-g-magenta);
    font-size: 1rem;
    max-width: 25rem;
}

.lower {
    flex-direction: row;
}

.attribution {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.upper {
    display: flex;
}

.sr-only {
    clip-path: inset(50%); 
    border: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    position: absolute;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
}

.stars-container, .stars-container + p  {
    display: inline-block;
}

.user-info > img {
    border-radius: 50%;
    width: 5%;
}

.user-info p:first-of-type {
    font-weight: 500;
}

.user-info p:last-of-type {
    color: var(--soft-pink);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
    min-height: 100svh;
    text-align: center;
}